<h3><%= recipe.name %></h3>

<form action="/comments/<%= recipe.id %>/new" method="POST">

    <input type="text" name="description" autocomplete="off">

    <button type="submit">Add comment</button>
</form>

 <% recipe.comments.forEach(c => { %>
        <p>
            <%= c.description %>
        </p>
<% }) %>
